/* Color Palette
Lion - #C39856
White - #FCECEB
Russet - #894F24
Parchment - #EEE8C9 
Red = #be222a
Blue = #2a85b3
*/

.subtitle{
    text-align: center;
    font-family: 'Long Cang', cursive;
    font-size: 4vw;
    }

.title {
    text-align: center;
    color: white;
    font-family: 'Comforter Brush', cursive;
    font-weight: 900;
    font-size:15vw;
    text-shadow: -9px -2px #894E24;
    text-shadow: black;
    white-space: nowrap;
    padding-top: 30vh;  
}
.modal-content{
    font-family: 'Long Cang', cursive;
}
.rule-head{
    font-family: 'Long Cang', cursive;
    font-size: 45px;
    text-decoration: underline solid black 10%;
}
.rule-subtitle{
    font-family: 'Long Cang', cursive;
    font-size: 38px;
}
.rules{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 40px;
    padding: 5%;
}

#firstPlayer{
    width: 15rem;
    height: 8rem;
}
#movement2 {
    width: 16rem;
    height: 12rem;
}
#movement3 {
    width: 16rem;
    height: 12rem;
}
#stream {
    width: 16rem;
    height: 14rem;
}
#stone{
    width: 16rem;
    height: 14rem; 
}
#setup{
    width: 16rem;
    height: 24rem;
}
#capture{
    width: 18rem;
    height: 16rem;
}

.modal-body{
    background-color: #EEE8C9;
    font-size: 30px;
}
.modal-header{
    background-color: #EEE8C9;
}
.default-body{
     background-color: #C39856;

}
.modal-title{
    font-family: 'Long Cang', cursive;
    text-decoration:underline;
}
#footer{
    background-color: #EEE8C9;
}
#start{
    background-color: black;
    text-decoration-color: white;
    border-color: darkgrey;
}
.navbar-brand{
    font-family: 'Comforter Brush', cursive;
    font-size: 30px;
}
.description{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    }
.offcanvas-title{
    font-family: 'Long Cang', cursive;
    font-size: 30px;
}
#tips {
    font-size: 16px !important;
}
.form-check-label{
    color: darkgrey !important;
    font-size: 1.2rem !important;
}
.form-check-input {
    margin-top: 0.55rem;
}

#gameboard{
   /* background-color: #EEE8C9; */
    border: 1px solid black;
    background-image: url('images/canvas_background-reverse.png');
    background-image: center;
    background-repeat:no-repeat;
    background-size: contain;
    z-index: 2;
    }   

.gameboard-container{ 
   display: grid;
   grid-template-columns: 10px 1fr 420px 1fr 10px;
   grid-template-rows: 70px 120px repeat(3, 117px) 120px repeat(2, 1fr);
   grid-column-gap: 0px;
   grid-row-gap: 0px;
   background-image: url('images/background.png');
   background-size: 100vw 100vh;
   background-repeat: no-repeat;
   background-position: static;
}

.background-image{
    grid-area: 2 / 3 / 8 / 4;; 
    z-index: 1;
    background-image: url('images/Onitama_board.png');
    background-size: 370px 630px;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -21px;
    background-position-x: 27px;
}

.sideboard {
    grid-area: 4 / 4 / 5 / 5;
    display: flex;
    justify-content: flex-start;
    z-index: 0;
    background-size:cover;
    background-position-x: right;
    background-repeat: no-repeat;
}

.board {
    grid-area: 3 / 3 / 6 / 4; 
    z-index: 1;
    display: flex;
    justify-content: center;
}

.opponentCardContainer {
    z-index: 2;
    grid-area: 2 / 3 / 3 / 4; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.playerCardContainer {
    z-index: 2;
    grid-area: 6 / 3 / 7 / 4; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.commonCardContainer{
    grid-area: 4 / 4 / 5 / 5;  
    display: flex;
    align-self: center;
    justify-content: center;
    z-index: 1;
    margin-right: 150px;
}
.card {
    margin: 5px;
    border: 2px solid black;
    background-color: transparent;
    width: 164px;
    height: 97px !important;
    border-width: 0px;
}
.toasts {
    grid-area: 5 / 4 / 7 / 5;
    justify-content: center;
    align-content: center;
    display: flex;
    margin-top: 50px;
}

#card3, #card4 {
    transform: rotate(0.5turn);
}

  .brush-wrap {
    position: relative;
    display: inline-block;
    padding: 3rem;
    left: 50%;
    transform: translateX(-50%)
  }
  
  .brush-wrap:before {
    content: '';
    position: absolute;
    height: 75%;
    width: 200%;
    top: 15%;
    left: -48%;
    background: black;
    z-index: -1;
    clip-path: url(#clip);
  }
  
  .brush-wrap p {
    font-family: 'Long Cang', cursive;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0 50px;
    color: #C39856;
    font-style: italic;
    animation-name: colorChange;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  @keyframes colorChange {
    0% {color: transparent;}
    70% {color: transparent;}
    100% {color: white;}
  }

  .btn-link {
    font-family: 'Long Cang', cursive !important;
    text-decoration: none !important;
    font-size: 2rem !important;
    text-transform: uppercase !important;
    margin: 0 50px;
    color: #C39856;
    font-style: italic;
    animation-name: colorChange;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  a.deco-none {
    color: inherit;
    text-decoration:none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

.brush-wrap:before{
    height: 45%;
    width: 100%;
    top: 28%;
    left: -1%;
}
};

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .brush-wrap:before{
        height: 45%;
        width: 350px;
        top: 28%;
        left: -1%;
    }

    .btn-link {
        width: max-content;
    }
    .commonCardContainer{
    grid-area: 7 / 3 / 8 / 4
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    }
